

* {
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
}

header h1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3em;
    color: #09093B;
    letter-spacing: 0.1em;
    text-align: center;
    padding: 0.2em;
}

header p {
    text-align: center;
    padding: 0.4em;
    margin: 0px;
    padding: 0px;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #191957;
}

nav a {
    color: #FFF;
    padding: 1em;
    text-align: center;
    text-decoration: none;
    width: 100% ;
}

nav a:hover {
    cursor: pointer;
    background-color: #333376;
}

main h2 {
    padding: 0.8em;
    font-size: 2em;
}

section {
    display: flex;   
    flex-wrap: wrap;
}

table {
    width: 100%;
    text-align: center;
    margin: 0.5em
}

tr > :nth-child(1), tr > :nth-child(2)  {
    text-align: left;
}

tr > :nth-child(4), tr > :nth-child(5)  {
    text-align: right;
}

tr:nth-child(even)  {
    background-color: rgba(25, 0, 255, 0.116);
}

tr:hover{
    background-color: #49498d;
    color: #FFF;
    cursor: pointer;
}

th {
    background-color: #333376;
    color: #FFF;
}

th, td {
    border: 1px solid #4f4fb0;
    padding: 0.5em;
}

footer {
    text-align: center;
    padding: 1em;
    background-color: #191957;
    color: #FFF;
}